/* color palette */
:root {
  --color-background: #131B29;
  --color-background-soft: #1E3059;
  --color-background-mute: #0B0E15;

  --color-text: #F0F4F8;
  --color-text-soft: #8698AA;
  
  --color-green: #00B15D;
  --color-red: #FF5B5A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  backound: var(--color-background);
  line-height: 1.6;
  font-family:
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}
